<!DOCTYPE html>
<html>
	<head>
		<title>Rango - {% block title %}hello itcast!{% endblock %}</title>
		{% block head %}{% endblock %}
	</head>

	<body background="/static/images/dream-of-blue.jpg">
		<div>
			{% block body_block %}{% endblock %}
		</div>
		<hr />
		<div>
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'restricted' %}">Restricted Page</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
					<li><a href="{% url 'add_category' %}">Add a New Category</a></li>
				{% else %}
					<li><a href="{% url 'register' %}">Register here</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
					<li><a href="{% url 'about' %}">about</a></li>
			</ul>
		</div>
		<hr />
		<h1><a href="{% url 'index' %}">go home</a></h1>
	</body>
</html>